.navbar{
    max-height: 65px;
    background-color: #ffffff;
  }
  
  .navbar-brand {
    width:350px;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 50px;
    /* put value of image height as your need */
    float: right;
    margin-right: 7px;
  }
  .button {
    background-color: #d6c41e; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    font-weight:bold;
  }
  .button1 {
    background-color: #271b3f; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    font-weight:bold;
    color:white;
  }