div{
    background-color:#353536 ;
    color: rgb(255, 255, 255);
}
.button {
    background-color: #d6c41e; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    font-weight:bold;
  }
  html,body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    padding-bottom: 100%;
    overflow-x: hidden;
    background-color:#353536 ;
  }
  