<app-nutrinavbar></app-nutrinavbar>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />


</head>

<body class="text-center">
  <div class="jumbtrom">
    <div class="row">
      <div class="col-md-5">
        <main class="form-signin">
          <form [formGroup]="form">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
              integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
              crossorigin="anonymous">
            <h1 class="h3 mb-3 fw-normal">Creacion de Planes</h1>
           
        
            <a>Nombre del Plan</a>
            <label for="inputid_plan" class="visually-hidden">Nombre</label>
            <input id="inputid_plan" class="form-control" formControlName="id_plan" placeholder="Nombre del Plan" required
            #id_planInput>

            
           
            <mat-label>Alimentos Desayuno</mat-label>
            <mat-select class="form-control" formControlName="desayuno" multiple class="multipleSelect" >
              <mat-option  *ngFor="let eleccion of arrayProductos" [value]="eleccion">{{eleccion}}</mat-option>
            </mat-select>

            <mat-label>Alimentos Merienda</mat-label>
            <mat-select formControlName="merienda" multiple class="multipleSelect" >
              <mat-option  *ngFor="let eleccion of arrayProductos" [value]="eleccion">{{eleccion}}</mat-option>
            </mat-select>

             
            <mat-label>Alimentos Almuerzo</mat-label>
            <mat-select formControlName="almuerzo" multiple class="multipleSelect" >
              <mat-option  *ngFor="let eleccion of arrayProductos" [value]="eleccion">{{eleccion}}</mat-option>
            </mat-select>

            <mat-label>Alimentos Merienda Tarde</mat-label>
            <mat-select formControlName="meriendaTarde" id="merienda" multiple class="multipleSelect" >
              <mat-option  *ngFor="let eleccion of arrayProductos" [value]="eleccion">{{eleccion}}</mat-option>
            </mat-select>

            <mat-label>Alimentos Cena</mat-label>
            <mat-select formControlName="cena" multiple class="multipleSelect" >
              <mat-option  *ngFor="let eleccion of arrayProductos" [value]="eleccion">{{eleccion}}</mat-option>
            </mat-select>
            <h1></h1>
            <div> 
              <button class="button btn-sucess btn-lg btn-block" (click)="actualizarCalorias()" >Contabilizar Calorias</button>
            </div>
              
            
            <a>Calorias</a>
            <label for="inputcalorias" class="visually-hidden">Calorias</label>
            <input id="inputcalorias" class="form-control" formControlName="calorias" placeholder="Cantidad de Calorias" required
            #caloriasInput>
       
 
            <h1></h1>
            <!-- (click)="guardarPelicula()" -->
            
            <div> 
              <button class="button btn-sucess btn-lg btn-block" >Enviar Plan</button>
            </div>

        </form>
        <!-- <table id="tabla">

        </table> -->


      </main>
    </div>
    <!-- <div class="col-md-7">
        <h6 class="text-center">
            Peliculas
        </h6>
        
    </div> -->
</div>
</div>
</body>

</html>