
<table class="table table-sm">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <tr *ngFor="let client of clientService.list">
        <td style="color: white;">
            {{client.id_patient}}
        </td>
        <td style="color: white;">
            {{client.first_name_patient}}
        </td>
        <td style="color: white;">
            {{client.second_name_patient}}
        </td>
        <td style="color: white;">
            {{client.birth_date_patient}}
        </td>
        <td style="color: white;">
            {{client.weight_patient}}
        </td>
        <td style="color: white;">
            {{client.calories_patient}}
        </td>
        <td style="color: white;">
            {{client.country_patient}}
        </td>
        <td style="color: white;">
            {{client.muscle_patient}}
        </td>
        <td>
            <i class="far fa-edit fa-lg text-info"  (click)="editar(client)" style="cursor: pointer;"></i>  
        </td>
        
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarTarjeta(client.id_patient)" style="cursor: pointer;"></i>
        </td>
       
    </tr>

</table>