<table class="table table-sm">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <tr *ngFor="let employee of employeeService.list">
        <td style="color: white;">
            {{employee.name_plan}}
        </td>
        <td style="color: white;">
            {{employee.breakfast}}
        </td>
        <td style="color: white;">
            {{employee.morning_snack}}
        </td>
        <td style="color: white;">
            {{employee.lunch}}
        </td>
        <td style="color: white;">
            {{employee.afternoon_snack}}
        </td>
        <td style="color: white;">
            {{employee.dinner}}
        </td>
      
        <td>
            <i class="far fa-edit fa-lg text-info"  (click)="editar(employee)" style="cursor: pointer;"></i>  
        </td>
        
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="eliminarTarjeta(employee.name_plan)" style="cursor: pointer;"></i>
        </td>
       
    </tr>

</table>